{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
Directorio CIC
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage/directorio.css">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}

{% block clear %}{% endblock%}
{% block contenido %}
	<div class="imagenabout">
		<img src="{% static 'img/bannerquienes.jpg' %}" alt="Quienes Somos">
	</div>
	<div class="wrapper">
		<ul class="submenu">
			<li><a  href="{% url 'homepageaboutus' %}">{% trans 'Sobre la CIC' %}</a></li>
			<li class="selectedmenu"><a href="{% url 'aboutdirectorio' %}">{% trans 'Directorio' %}</a></li>
			<li><a href="{% url 'aboutpaises' %}">{% trans 'Paises de la CIC' %}</a></li>
			<li><a href="{% url 'aboutcodigo' %}">{% trans 'Código de ética' %}</a></li>
		</ul>
		{% if bandera %}
			<h2><span>{% trans 'Integrantes' %}</span>{% trans 'de la CIC' %}</h2>
			<div class="miembrosdirectorio">
				{% for miembro in miembrosDirectivos %}
					<div class="mdirectorio">
						{% if miembro.registro_certificado_cic %}
							<div class="nombre">{{miembro.registro_certificado_cic}} </div>
							<div class="pais">{% trans 'Pais' %} {{miembro.registro_certificado_cic.pais_recidencia}}</div>
							<div class="correo">{% trans 'Correo Electrónico:' %} <div>{{miembro.registro_certificado_cic.correo}}</div></div>
						{% else %}	
							<div class="nombre">{{miembro.registro_invitado}}</div>
							<div class="pais">{% trans 'Pais:' %} {{miembro.registro_invitado.pais_recidencia}}</div>
							<div class="correo">{% trans 'Correo Electrónico:' %} <div>{{miembro.registro_invitado.correo}}</div></div>							
						{% endif %}
					</div>
				{% endfor %}
				{% for miembro in miembrosComunes %}
					<div class="mdirectorio">
						{% if miembro.registro_certificado_cic %}
							<div class="nombre">{{miembro.registro_certificado_cic}}</div>
							<div class="pais">{% trans 'Pais:' %} {{miembro.registro_certificado_cic.pais_recidencia}}</div>
							<div class="correo">{% trans 'Correo Electrónico:' %}<div> {{miembro.registro_certificado_cic.correo}}</div></div>
						{% else %}	
							<div class="nombre">{{miembro.registro_invitado}}</div>
							<div class="pais">{% trans 'Pais:' %} {{miembro.registro_invitado.pais_recidencia}}</div>
							<div class="correo">{% trans 'Correo Electrónico:' %}<div> {{miembro.registro_invitado.correo}}</div></div>							
						{% endif %}
					</div>
				{% endfor %}				
		</div>	
		{% else %}
			<div class="introdirect">{% trans 'Para Acceder al directorio de la Comunidad Integrativa de Coaches debe ingresar el código de acceso que le fue suministrado:' %}</div>
		<form  class="acceso" action="#" method="POST">
			{% csrf_token %}
					{% if mensaje %}
						<div>{{mensaje}}</div>
					{% endif %}
				<div class="campo">
					{{ field.errors }}
					<label for="codigo_directorio">Código de Acceso:</label>
					{{ form.codigo_directorio }}
					{{ form.codigo_directorio.errors }}
				</div>
			<div class="botonEnviar">
				<input type="submit">
			</div>
		</form>
			<div class="notadirect">{% trans 'Si usted es miembro de la comunidad y desea obtener su código de ingreso, solo debe contactarnos y le será proporcionado.' %}</div>	
		{% endif %}
	</div>

{% endblock%}
