{% extends "base.html" %}
{% load i18n calendarium_tags %}
{% load custom_filters %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="{% trans 'La Comunidad Integrativa de Coaches es una organización profesional sin ﬁnes de lucro, que agrupa a Coaches Certiﬁcados de España fundamentalmente y de otras latitudes del mundo sin exclusión alguna, dedicados a la práctica del Coaching' %}">
{% endblock%}
{% block title %}
{% trans 'Comunidad Integrativa de Coaches' %}
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage/index.css">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fancybox/source/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-media.js' %}"></script>
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
		<div class="imagenhome">
			<img src="{% static 'img/homeimage.jpg' %}" alt="Grupo coaches felices">
			<div class="eslogan">
				<div class="linea1">{% trans 'Un espacio para el' %} <span>{% trans 'Acercamiento' %}</span></div>
				<div class="linea2">{% trans 'y la ' %}<span>{% trans 'Integración' %}</span></div>
			</div>
		</div>
		<div class="wrapper">	
			<div class="trescuadros">
				<div class="cuadroblanco maspabajo">
					<div class="cuadro coach">
						<h2>{% trans '¿Eres un coach certificado?' %}</h2>
						<p>{{ textoshome.eres_coach }}</p>
						<div class="icono1"></div>
						<a class="cuadroboton" href="{% url 'homepageaboutus' %}#beneficioscic">{% trans 'Beneficios de Registrarme' %}</a>
					</div>
				</div>
				<div class="cuadroblanco">
					<div class="cuadro certificaciones">
						<h2>{% trans 'Certificaciones' %}</h2>
						<p>{{ textoshome.certificaciones }}</p>
						<div class="icono2"></div>
						<a class="cuadroboton" href="{% url 'homepagecertificaciones' %}">{% trans 'Conocer Más' %}</a>
					</div>
				</div>
				<div class="cuadroblanco maspabajo">
					<div class="cuadro recursos">
						<h2>{% trans 'Recursos Informativos' %}</h2>
						<p>{{ textoshome.recursos_informativos }}</p>
						<div class="icono3"></div>
						<a class="cuadroboton" href="{% url 'homepagerecursos' %}">{% trans 'Ver Recursos' %}</a>				
					</div>
				</div>
			</div>
			<div class="sliderindex">
				<div class="flexslider">
					<ul class="slides">
					{% for image in imgslider %}
						<li>		
							<div class="flex-caption">
								<h2>{{ image.titulo }}</h2>
								<p>{{ image.texto_contenido }}	</p>
							</div>						
								<img src="{{ MEDIA_URL }}{{image.imagen}}" alt="image.tutulo">		
							<!-- HTML Credit Code for Can Stock Photo-->	
						</li>
					{% endfor %}
					</ul>
				</div>			
			</div>

	<div class="wrapper">
		<section class="eventoProximo">
			<h2 class="tituloSection">{% trans 'Eventos' %}</h2>
			{% if nextEvent %}
				{% render_upcoming_events_index 1 current_category %}
			{% endif %}
		</section>
		<section class="entradas">
			<h2 class="tituloSection">{% trans 'Últimos Artículos' %}</h2>
			<div class="noticias">
				{% for entrada in entradas %}
					<article>
						<a href="{{ entrada.get_absolute_url }}" >
							<div class="tituloent">{{ entrada.title }}</div>
							<div class="imgdiv">
								{% if entrada.image %}
									<img src="{{ MEDIA_URL }}{{entrada.image}}" alt="{{ entrada.title }}">
								{% else %}
									<img src="{% static 'img/logo.png' %}" alt="Logo entrada sin imagen"/>
								{% endif %}	
							</div>				
							<div class="texto">{{ entrada.content|safe }}...</div>
							<div class="readmore">
								<span>{% trans 'Leer más' %}</span>
							</div>
						</a>
					</article>
				{% endfor %}
			</div>
		</section>
			{% for video in videosinicio %}
			<div class="video">
				<h2 class="tituloh1">{{video.video_titulo}}</h2>
				<a class="fancybox-media" href="{{video.video_link}}">
					<div class="playIcon"></div>
					<img src="{{video.video_link|youthumbnail:'l'}}" alt="{{video.video_titulo}}">
				</a>	
			</div>	
			{% endfor %}		
		</div>
	</div>
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>

		<!-- SLIDER INIT -->
	<script>
			$(document).ready(function() {
			  $('.flexslider').flexslider({
				animation: "slide" //si las imagenes son diferente tamaño poner sin slide
			  });
			});
	</script>	
	<!-- YOUTUBE FANCYBOX -->
	<script>
	$(document).ready(function() {
		$('.fancybox-media').fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers : {
				media : {}
			}
		});
	});
	</script>
{% endblock%}
