h1{
	color: #0871B3;
	text-align: center;
	width: 100%;
	font-size: 2.5em;
}

/* Vista dia */
form{
	text-align: center;
}
table{
	width: 100%;
}
td a{
	text-decoration: none;
	color: #099
}
td p{
	text-align: center;
	font-size: 1.2em;
	background: #EEE;
}
.categoriasEvento{
	text-align: center;
	padding: 0;
}
.categoriasEvento li{
	display: inline-block;
}
.categoriasEvento li a{
	color: red;
}