{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load staticfiles %}
{% load custom_filters %}
{% block head %} 

{% endblock%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calendarium/detalleevento.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/calendarium/aside.css' %}">
<link rel="stylesheet" href="{% static 'intl-tel-input/css/intlTelInput.css' %}">
{% endblock css%}
{% block js %}
<script src="{% static 'intl-tel-input/js/intlTelInput.min.js' %}"></script>
{% endblock %}
{% block contenido %}
<div class="bannertop">
    <img src="{% static 'img/bannereventos.jpg' %}" alt="banner evento cic">
</div>
<div class="wrapper">
    {% include 'calendarium/menuagenda.html' %}
    <div class="details">
        <h1>{{ object }}</h1>
        <h2>{{ object.subtitle }}</h2>
        <div class="eventoHorario">
            <ul>
                <li>Inicio: <span>{{ object.start }}</span></li>
                <li>Final: <span>{{ object.end }}</span></li>
                <li>Duración: <span>{{ object.end|timeuntil:object.start }}</span></li>
                <li>Categoría: <span>{{ object.category }}</span></li>
            </ul>
        </div>
        <div class="green">Hora:</div>
        <div class="hora">            
            <div class="celdaHora">
                <span>Venezuela:</span> {{ object.start|date:"g:iA | d-m" }}                
            </div>
            <div class="celdaHora">
                {% timezone "America/Santiago" %}
                    <span>Chile:</span> {{ object.start|date:"g:iA | d-m" }}
                {% endtimezone %}
            </div>    
            <div class="celdaHora">
                {% timezone "America/Bogota" %}
                    <span>Colombia:</span> {{ object.start|date:"g:iA | d-m" }}
                {% endtimezone %}
            </div>
            <div class="celdaHora">
                {% timezone "America/Mexico_City" %}
                    <span>México:</span> {{ object.start|date:"g:iA | d-m" }}
                {% endtimezone %}
            </div>  
        </div>
        <div>
            {% autoescape off %}
                {{ object.description }}
            {% endautoescape %}
        </div>
        <div>
            <span class="red bold">Lugar:</span>
            <span>
                {% if object.place %}
                    {{ object.place }}
                {% else %}
                    Internet
                {% endif %}
            </span>
        </div>
        <div class="precioEvento">
            <span class="red bold">Precio:</span>
            <span>{{ object.price }}</span>
        </div>
    </div>
    <aside>
        <!-- COLOCAR LLAMADOS A LA ACCION PORQUE DOS FORM DA PROBLEMAS -->
        <h2 class="mensajeForm">Llene el formulario para solicitar entrar al evento</h2>
        {% if success %}
        <div class="mensajeenviado">
            <div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
            <img class="sobre" src="{% static 'img/sobre.png' %}" alt="formulario de contacto">    
        </div>
        {% else %}
        {% if form.errors %}
        <p>
            Por favor corregir los errores debajo.
        </p>
        {% endif %}
        <form id="id_formulario" action="#" method="POST">
            {% csrf_token %}
            <div class="campos">
                <div class="campo">
                    {{ field.errors }}
                    <label for="nombre">Nombre y apellidos:</label>
                    {{ form.nombre }}
                    {{ form.nombre.errors }}
                </div>
                <div class="campo">
                    {{ field.errors }}
                    <label for="nombre">Empresa:</label>
                    {{ form.empresa }}
                    {{ form.empresa.errors }}
                </div>
                <div class="campo">
                    {{ field.errors }}
                    <label for="nombre">Cargo:</label>
                    {{ form.cargo }}
                    {{ form.cargo.errors }}
                </div>
                <div class="campo">             
                    {{ field.errors }}
                    <label for="email">Correo Electrónico:</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>        
                <div class="campo">
                    {{ field.errors }}
                    <label for="telefono">Teléfono:</label>
                    {{ form.telefono }}
                    {{ form.telefono.errors }}
                </div>
                <div class="textareaDescripcion">
                    {{ field.errors }}
                    <label for="comentario">Comentario adicional: </label>
                    {{ form.comentario }}
                    {{ form.comentario.errors }}
                </div>     
                <input id="id_pais" name="pais" type="hidden">
                <div class="botonEnviar">
                    <input id="botonEnviar" type="submit">
                </div>
            </div>
        </form>
        <div class="imagenEvento">
            <img src="{{object.image.url}}" alt="{{object.image_alt}}">
        </div>
    </aside>
    <a href="{% url 'calendar_current_month' %}" class="enlaceAgenda">Volver al calendario</a>
    {% block jsBottom %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#id_telefono").intlTelInput({
            preferredCountries: ["es"],
        });
        $('#botonEnviar').click(function(e){
            e.preventDefault();
            //do ur stuff.
            $('#id_pais').val($("#id_telefono").intlTelInput("getSelectedCountryData").name+'  +'+$("#id_telefono").intlTelInput("getSelectedCountryData").dialCode);
            //submit form
            //console.log(JSON.stringify($('#tablaDetalles').tableToJSON()));
            $('#id_formulario').submit();
        });
    });
    </script>
    {% endblock jsBottom %}
    {% endif %}
</div>
{% endblock %}
{% block footerLlamados %}
    <div class="footerLinks">
        <a href="{{footer.enlace_uno}}">{{footer.titulo_uno}}</a> > 
        <a href="{{footer.enlace_dos}}">{{footer.titulo_dos}}</a> > 
        <a href="{{footer.enlace_tres}}">{{footer.titulo_tres}}</a>
    </div>
{% endblock %}