{% load i18n calendarium_tags %}
{% load staticfiles %}
{% load thumbnail %}     
{% for occurrence in occurrences %}
    <div class="evento">
    <a href="{{ occurrence.event.get_absolute_url }}">
    	<div class="descripcion">
			<div class="titulo">{{occurrence.event.title}}</div>
			<div class="subtitulo">{{occurrence.event.subtitle}}</div>
			{% if occurrence.event.place %}
			<div class="lugar">
				<span>Lugar:</span> {{occurrence.event.place}}
			</div>
			{% endif %}
		</div>
		<div class="horario">
			{% if occurrence.event.imageindex %}
				{% thumbnail occurrence.event.imageindex "320x260" crop="center" as im %}
					<img src="{{ im.url }}" alt="{{occurrence.event.image_alt}}">
				{% endthumbnail %}
			{% else %}
				<img class="imagenLogo" src="{% static 'img/ciclogo.png' %}" alt="evento sin imagen">
			{% endif %}
			<div class="fechaprecio">
				<div class="dia">{{occurrence.event.start.day}} / {{occurrence.event.start.month|month_name}}</div>
				<div class="precio">Precio: {{occurrence.event.price}}</div>
			</div>			
		</div>
		</a>
	</div>
{% endfor %}