nav .contacto a{
  color: #eb4923;
}
.imagencontacto img{
	width: 100%;
}
h2{
  text-transform: uppercase;
  font-size: 1.6em;
}
h2 span{
  display: block;
  font-size: 2em;
}
.errorlist{
  padding: 0;
  margin: 0;
}
.errorlist li{
  color: rgb(191, 73, 73);
  font-size: 0.8em;
  font-weight: bold;
}
.labelcampo{
     list-style-image: url(../../img/iconlist.png);
      margin: 5px 0;
  }

  .derechacontacto, .izquierdacontacto{
  	display: inline-block;
  	width: 48%;
    vertical-align: top;
  }
  .campo input{
   	width: 85%;
  	margin-bottom: 10px;
  }
  .textareaDescripcion textarea{
  	 width: 89%;
  }

  .botonEnviar input
{
  padding: 16px 10px;
  background-color: #4fb77f;
  color: #FFF;
  border-radius: 10px;
  margin-top: 10px;

}
 