  .imagenregistro img{
    width: 100%;
  }
h2{
  text-transform: uppercase;
  font-size: 1.6em;
}
h2 span{
  display: block;
  font-size: 2em;
}
.corregirerrores{
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(191, 73, 73);
}
/*Formulario*/
form{
  margin-top: 50px;
}
form .agrandar{
  width: 60%;
}

.tituloform p{
	font-size: 1.5em;
	color: #4fb77f;
	text-transform: uppercase;
}
#registroform li{
	list-style: none;
}

.notShow{
	display: none;
}
.campo label, .campocorto label{
	width: 276px;
  display: inline-block;
}
.campocorto2 label{
	width: 149px;
  display: inline-block;	
}
.largo label{
	width: 334px !important;
}
.campo input{
  width: 57%;
  height: 25px;
}
.campo, .campocorto, .campocorto2{
	    margin-bottom: 20px;
}

.errorlist{
  padding: 0;
  margin: 0;
}
.errorlist li{
  color: rgb(191, 73, 73);
  font-size: 0.8em;
  font-weight: bold;
}
textarea{
  width: 80%;
}
.sino{
  margin: 10px 0;
}
.campotxt{
  margin-top: 15px;
}
.campocorto input, .campocorto2 input{
  width: 41%;
  height: 25px;
  display: inline-block;
}
.campocorto, .campocorto2{
  display: inline-block;
  width: 49%;
}
.campoanos input{
  width: 20%;
  height: 25px;
}
.campoanos label{
	width: 498px;
  display: inline-block;
}
.subti{
	text-transform: uppercase;
	font-weight: bold;
}
.opcregistro a{
  display: block;
  color: #5b5b5b;
  margin: 10px 0;
}
.botonEnviar{
  margin-top: 20px;
}
.botonEnviar input{
  display: block;
  padding: 16px 10px;
  background-color: #4fb77f;
  width: 21%;
  margin: 0 auto;
  color: #FFF;
  text-decoration: none;
  border-radius: 10px; 
}
