nav .servicios a{
  color: #eb4923;
}
  .imagenservicios img{
    width: 100%;
  }

/* SUBMENU */
.submenu li{
  display: inline-block;
  padding: 14px 49px;
}
.selectedmenu{
  background-color: #eaebec;
}
.selectedmenu a{
  color: #eb4923 !important;
  font-weight: bold;
}
.submenu{
  padding:0;
  width: 51.3%;
  margin: 0 auto;
  list-style: none;
  border: solid 1px rgb(209, 204, 204);

}
.submenu li a{
  text-decoration: none;
  color: #5b5b5b;
  }

/* fin SUBMENU */
h2{
  text-transform: uppercase;
  font-size: 1.6em;
}
h2 span{
  display: block;
  font-size: 2em;
}
.info p{
  text-align: justify;
}
.cursoslista a{
  text-decoration: none;
  color: #4fb77f;
  font-size: 1.2em;
  font-weight: bold;
}
.cursoslista li{
 list-style-image: url(../../img/iconlist.png);
}

.contenidocurso .info li,.contenidoconferencias .info li{
 list-style-image: url(../../img/iconlist.png);
 margin: 5px 0;
}

.back-link{
  color: rgb(154, 154, 154);
}
.botonEnviar input
{
  padding: 16px 10px;
  background-color: #4fb77f;
  color: #FFF;
  border-radius: 10px;
  margin-top: 10px;

}

.infoform{
  width: 50%;
  display: inline-block;
}
.infoform .campo input{
  width: 80%;
  height: 25px;
  margin: 2px 0px;
}
.imagencurso{
  display: inline-block;
  width: 38%;
  vertical-align: top;
  }
.imagencurso img{
  width: 100%;
}
  .infoform textarea{
    width: 80%;
    margin-bottom: 20px;
  }
.errorlist{
  padding: 0;
  margin: 0;
}
.errorlist li{
  color: rgb(191, 73, 73);
  font-size: 0.8em;
  font-weight: bold;
}
.labelcampo{
     list-style-image: url(../../img/iconlist.png);
      margin: 5px 0;
  }

@media screen and (max-width: 1100px){
  h2{
    text-align: center;
  }
  .submenu li {
    text-align: center;
    display: inherit;}  
  h2 span {
    display: block;
    font-size: 1.3em;
  }    
  .contenidocursos, .contenidoconferencias, .info p{
    width: 97%;
    padding-left: 3%;}  
  .infoform {
    width: 95%;
    margin-left: 5%; 
    }   
  }